@import "./configur/";

@font-face{
    font-family: Overpassfamily;
    src: url('/fonts/Overpass-Bold.ttf');
}

@font-face{
    font-family: Overpassfamily;
    src: url('/fonts/Overpass-Regular.ttf');
}