@import "./configur/";

@font-face{
    font-family: Overpassfamily;
    src: url('/fonts/Overpass-Bold.ttf');
}

@font-face{
    font-family: Overpassfamilyone;
    src: url('/fonts/Overpass-Regular.ttf');
}

.headerwall{
    @include marginZero;
    width: 100%;
    height: 600px;
    background-color: aqua;
    
    @include mobile__600{
        height: 300px;
    }
    @include mobile__414{
        height: 250px;
    }

    @include mobile__375{
        height: 200px;
    }

    .firstimage{
        width: 100%;
        height: inherit;
        position: absolute;
        @include flexCenter(column);
        align-items: center;
        background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.7),
            rgba($primary-color, 0.4),
        ),
        url(/images/first__bkg.jpg);
        background-size: cover;
        background-position: center;

        

        .navigation{
            @include marginZero;
            @include flexCenter(row);
            gap: 70px;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 50px;
            background-color: $accent-color;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
            // margin: auto;
            border-radius: 30px;
            margin-top: 15px;

            @include mobile__600{
                height: 40px;
                gap: 20px;
                // font-size: 12px;
            }
            @include mobile__414{
                display: none;
            }

            .logo{
                @include marginZero;
                background-image: url('/images/LOGO.png');
                width: 60px;
                height: inherit;
                background-size: cover;
                background-position: center;
                // margin-left: -100px;
                // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
                border-radius: 30px;
            }

            a{
                text-decoration: none;
                font-size: 18px;
                color: $secondary-color;
                font-family: Overpassfamilyone; 
                @include mobile__600{
                    font-size: 14px;
                }
                &:hover{
                    text-decoration: underline;
                    // color: $pri_color;
                    // @include boxshadow;
 
                } 

            }
        }
        .menubut{
            display: none;
            // text-decoration: ;
            width: 40px;
            height: 40px;
            background: transparent;
            border: none;
            outline: none;
            @include mobile__414{
                display: block;
                margin-left: -350px;

                
            }  
            
            .iconify{
                width: 35px;
                height: 35px;

                &:hover{
                    background-color: $accent-color;
                }
            }

            
        }
        .listmenu{
            height: 667px;
            width: 100%;
            // left: 0px;
            background-color: $accent-color;
            position: absolute;
            // margin-top: 30px;
            z-index: 1;
            display: none;

            button{
                background-color: transparent;
                outline: none;
                border: none;
                position: absolute;

                .iconify{
                    width: 35px;
                    height: 35px;
                }
                
            }
            .navi{
                width: 100%;
                height: 100%;
                @include flexCenter(column);
                justify-content: center;
                align-items: center;
                @include marginZero;
                gap: 50px;
                // background-color: black;
               

                .logo{
                    width: 20%;
                    height: 60px;
                    // background-color: blue;
                    // margin: auto;
                    background-image: url(/images/LOGO.png);
                    background-size: cover;
                    background-position: center;
                }
                .listlink{
                    width: 100%;
                    height: 50px;
                    background-color: $secondary-color;
                    @include flexCenter (row);
                    justify-content: center;
                    align-items: center;
                    gap: 30px;

                    

                    .iconify{
                        width: 30px;
                        height: 35px;
                        color: white;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 18px;

                        &:hover{
                            color: gray;
                        }
                    }
                }
            }

        }
    }
}